body {
  background-color: #f2ead3;
  font-family: "Roboto", sans-serif;
}

.layout {
  display: block;
  margin: 0 auto;
  max-width: 2000px;
}

main {
  display: block;
  position: relative;
  bottom: 60px;
}

.middle-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  max-width: 100%;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.middle-layout li {
  width: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.weather-app-page {
  max-height: 525px;
  padding: 30px;
  background: #f9f5f0;
  border: none;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-forecast-page {
  padding: 30px;
  background: #f9f5f0;
  border: none;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.decoration {
  display: flex;
  justify-content: space-between;
}

#dots-left,
#dots-right {
  color: rgb(234, 4, 4);
  font-size: 100px;
}

h1 {
  position: relative;
  top: -95px;
  text-align: center;
}

.material-symbols-outlined {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.current-city {
  margin: 0;
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  color: #321313;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  top: -95px;
}

.search-input {
  width: 800px;
  padding: 0 35px;
  font-size: 16px;
  background: #f9f7fe;
  border: none;
  border-radius: 35px;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #feeeff;
  background: #321313;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.current-weather {
  padding-top: 20px;
}

.current-temperature {
  display: flex;
  justify-content: space-between;
  color: #321313;
}

.current-temperature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.current-temperature-icon img {
  width: 300px;
  height: 300px;
}

.current-temperature-value {
  font-family: "VT323", monospace;
  text-align: center;
  width: 250px;
  align-self: center;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -238px;
  right: -225px;
  color: #321313;
}

.current-details {
  display: flex;
  justify-content: space-around;
  padding: 10px 40px 30px 40px;
  font-size: 25px;
  font-weight: 450;
  line-height: 45px;
  color: rgba(39, 33, 66, 0.5);
  position: relative;
  bottom: 80px;
  text-align: center;
  border-bottom: 1px solid rgba(50, 19, 19, 0.1);
}

.current-details strong {
  color: #ff6d3f;
}

.current-day-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  align-items: center;
}

.current-day-time .day {
  font-family: "Space Mono", monospace;
  font-size: 45px;
}

.current-day-time .time {
  font-family: "VT323", monospace;
  font-size: 55px;
}
.current-day-time .day,
.current-day-time .time {
  color: red;
  font-weight: bold;
  margin: 10px 15px 10px 15px;
}

.weather-forecast-date,
.weather-forecast-temperatures {
  margin: 20px;
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
  font-weight: 500;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
  color: #321313;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  font-size: 40px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #321313;
}

.weather-forecast-temperature-max {
  margin-right: 3px;
}
.weather-forecast-temperature-min {
  margin-left: 3px;
  opacity: 0.5;
}

footer {
  position: relative;
  bottom: 55px;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(50, 19, 19, 0.02);
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #321313;
}

footer a:hover {
  text-decoration: underline;
  color: #ff6d3f;
}

@media screen and (max-width: 768px) {
  .current-details {
    font-size: 12px; /* Adjust font size */
    /* Add other responsive styles as needed */
  }

  .weather-app-page {
    padding: 15px;
  }

  .current-day-time {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .current-day-time .day,
  .current-day-time .time {
    font-size: 10px;
    margin: 5px 8px 5px 8px;
  }

  .current-temperature-icon {
    font-size: 20px;
    position: relative;
    top: 6px;
    right: -5px;
  }

  .current-temperature-value {
    font-size: 44px;
    margin-left: 10px;
  }

  .current-temperature-unit {
    font-size: 15px;
    position: relative;
    top: 14px;
    right: 0px;
  }

  /* Include similar adjustments for other elements */
}

/* For larger screens */
@media screen and (min-width: 769px) {
  /* Default or larger font size for larger screens */
  /* Add other responsive styles as needed */

  .current-temperature-value {
    font-size: 250px; /* Default or larger font size for larger screens */
    /* Add other responsive styles as needed */
  }

  /* Include similar adjustments for other elements */
}
