body {
  font-family: "Roboto", sans-serif;
  background-color: #0b1a2d;
}

.decoration {
  display: flex;
  justify-content: space-between;
}

#dots-left,
#dots-right {
  font-size: 100px;
  color: whitesmoke;
}

.layout {
  display: block;
  margin: 0 auto;
  max-width: 104.17%;
  max-height: 950px;
}

h1 {
  text-align: center;
  position: relative;
  top: -95px;
}

.material-symbols-outlined {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  color: white;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  top: -95px;
}

.search-input {
  font-size: 16px;
  padding: 0 35px;
  width: 800px;
  background: #385170;
  border: none;
  border-radius: 35px;
}

.search-button {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 20px;
  color: #0b1a2d;
  background: #95ffed;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

::placeholder {
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

main {
  display: block;
  position: relative;
  bottom: 60px;
}

.middle-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-inline-start: 0;
  max-width: 100%;
  list-style: none;
}

.middle-layout li {
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.weather-app-page {
  padding: 30px;
  max-height: 525px;
  background-color: #95ffed;
  border: none;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.current-day-time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
  border-bottom: 1px solid black;
}

.current-day-time .day,
.current-day-time .time {
  font-weight: bold;
  margin: 10px 15px;
  color: #0b1a2d;
}

.current-day-time .day {
  font-size: 45px;
  font-family: "Space Mono", monospace;
}

.current-day-time .time {
  font-size: 55px;
  font-family: "VT323", monospace;
}

.current-weather {
  padding-top: 20px;
}

.current-temperature {
  display: flex;
  justify-content: space-between;
  color: #0b1a2d;
}

.current-temperature-value {
  font-family: "VT323", monospace;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 250px;
}

.current-temperature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.current-temperature-icon img {
  width: 300px;
  height: 300px;
}

.current-temperature-unit {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -238px;
  right: -225px;
  color: #0b1a2d;
  cursor: pointer;
}

.current-temperature-unit #celcius:hover,
.current-temperature-unit #fahrenheit:hover {
  color: red;
}

.current-details {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 450;
  line-height: 45px;
  text-align: center;
  padding: 10px 40px 30px 40px;
  position: relative;
  bottom: 80px;
  color: rgba(11, 26, 45, 0.5);
  border-bottom: 1px solid rgba(50, 19, 19, 0.1);
}

.current-details strong {
  color: rgb(241, 74, 74);
}

.weather-forecast-page {
  padding: 0 10px;
  border-radius: 12px;
  position: relative;
  bottom: 12px;
}

.weather-forecast {
  text-align: center;
  margin: 10px;
}

.weather-forecast-day {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  gap: 10px;
  align-items: center;
  background-color: #385170;
  border: 1px solid black;
  border-radius: 12px;
}

.weather-forecast-date {
  font-size: 25px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  text-align: left;
  align-items: center;
  position: relative;
  left: 28px;
  color: white;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 25px;
  font-weight: 500;
  font-family: "VT323", monospace;
  align-items: flex-start;
  position: relative;
  left: 275px;
  color: white;
}

.weather-forecast-temperature-max {
  margin-right: 10px;
}
.weather-forecast-temperature-min {
  margin-top: 10px;
  opacity: 0.5;
}

.weather-forecast-icon {
  position: relative;
  left: 45px;
}

footer {
  font-size: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
  position: relative;
  bottom: 210px;
  right: 375px;
  color: rgba(153, 185, 224, 0.5);
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

footer a:hover {
  text-decoration: underline;
  color: red;
}

@media screen and (max-width: 768px) {
  .weather-app-page {
    padding: 18px;
    box-sizing: border-box;
    max-height: 230px;
  }
  .current-day-time {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .current-day-time .day,
  .current-day-time .time {
    margin: 5px 8px;
  }

  .current-day-time .day {
    font-size: 15px;
  }

  .current-day-time .time {
    font-size: 25px;
  }

  .current-weather {
    padding-top: 10px;
  }

  .current-temperature-value {
    font-size: 100px;
    width: 125px;
  }

  .current-temperature-icon img {
    width: 100px;
    height: 100px;
  }

  .current-temperature-unit {
    font-size: 10px;
    position: relative;
    top: -82px;
    right: -76px;
    color: #321313;
  }

  .current-details {
    font-size: 8px;
    line-height: 15px;
    padding: 5px 10px 15px 10px;
    bottom: 23px;
  }

  .weather-forecast-page {
    position: relative;
    bottom: 2px;
  }

  .weather-forecast {
    text-align: center;
    margin: 2px;
  }

  .weather-forecast-day {
    margin: 3px;
    padding: 1px;
  }

  .weather-forecast-date {
    font-size: 8px;
    left: 15px;
  }

  .weather-forecast-temperatures {
    font-size: 6px;
    left: 50px;
  }

  .weather-forecast-icon {
    left: -5px;
    max-width: 50px;
    align-self: center;
  }

  footer {
    font-size: 8px;
    bottom: 140px;
    right: 110px;
  }
}

@media screen and (min-width: 769px) {
  .current-temperature-value {
    font-size: 250px;
  }
}
